 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 726px;
}

.u-section-1 .u-image-1 {
  height: 901px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: Raleway, sans-serif;
  width: 864px;
  margin: -756px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  --radius: 15px;
  font-weight: 700;
  text-transform: none;
  margin: 61px auto 60px;
  padding: 21px 64px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -479px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-1 .u-image-1 {
    height: 913px;
    width: 820px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -790px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-image-1 {
    height: 601px;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -608px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-image-1 {
    height: 621px;
    width: 440px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 263px;
    margin-top: -477px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 54px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 777px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 40px auto 0 0;
}

.u-section-2 .u-list-1 {
  width: 247px;
  margin: 54px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 230px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --radius: 15px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 4px 0;
}

.u-section-2 .u-icon-1 {
  width: 30px;
  height: 30px;
  background-image: none;
  margin: 24px auto 0 20px;
  padding: 15px;
}

.u-section-2 .u-icon-2 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -27px auto 0 23px;
  padding: 2px;
}

.u-section-2 .u-text-2 {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.125rem;
  margin: 15px 103px 0 20px;
}

.u-section-2 .u-text-3 {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.47;
  margin: 19px 17px 0 20px;
}

.u-section-2 .u-list-2 {
  width: 247px;
  margin: -230px auto 0 294px;
}

.u-section-2 .u-repeater-2 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 232px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --radius: 15px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 4px 0;
}

.u-section-2 .u-icon-3 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: 5px auto 0 22px;
  padding: 15px;
}

.u-section-2 .u-icon-4 {
  width: 21px;
  height: 21px;
  background-image: none;
  margin: -26px auto 0 26px;
  padding: 1px;
}

.u-section-2 .u-text-4 {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.125rem;
  margin: 21px 102px 0 22px;
}

.u-section-2 .u-text-5 {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.47;
  margin: 17px 16px 0 21px;
}

.u-section-2 .u-icon-5 {
  width: 15px;
  height: 15px;
  margin: -22px auto 0 52px;
  padding: 15px;
}

.u-section-2 .u-list-3 {
  width: 247px;
  margin: -230px 304px 0 auto;
}

.u-section-2 .u-repeater-3 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 228px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --radius: 15px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 4px 0;
}

.u-section-2 .u-icon-6 {
  width: 30px;
  height: 30px;
  background-image: none;
  margin: 20px auto 0 22px;
  padding: 15px;
}

.u-section-2 .u-icon-7 {
  width: 19px;
  height: 19px;
  background-image: none;
  margin: -24px auto 0 27px;
  padding: 1px;
}

.u-section-2 .u-text-6 {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.125rem;
  margin: 22px 40px 0 22px;
}

.u-section-2 .u-text-7 {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.47;
  margin: 16px 16px 0 21px;
}

.u-section-2 .u-icon-8 {
  width: 15px;
  height: 15px;
  margin: 0 auto 0 52px;
  padding: 15px;
}

.u-section-2 .u-list-4 {
  width: 270px;
  margin: -228px 0 0 auto;
}

.u-section-2 .u-repeater-4 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 488px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --radius: 15px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0 0;
}

.u-section-2 .u-icon-9 {
  width: 30px;
  height: 30px;
  background-image: none;
  margin: 22px auto 0 25px;
  padding: 15px;
}

.u-section-2 .u-icon-10 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -27px auto 0 28px;
  padding: 2px;
}

.u-section-2 .u-text-8 {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.125rem;
  margin: 18px 52px 0 25px;
}

.u-section-2 .u-text-9 {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.47;
  margin: 16px 20px 0 25px;
}

.u-section-2 .u-icon-11 {
  width: 15px;
  height: 15px;
  margin: 0 auto 0 55px;
  padding: 15px;
}

.u-section-2 .u-image-1 {
  width: 231px;
  height: 231px;
  --radius: 14px;
  margin: 17px auto 0;
}

.u-section-2 .u-list-5 {
  width: 247px;
  margin: -228px 304px 0 auto;
}

.u-section-2 .u-repeater-5 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 228px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  --radius: 15px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0 0;
}

.u-section-2 .u-icon-12 {
  width: 30px;
  height: 30px;
  background-image: none;
  margin: 20px auto 0 25px;
  padding: 15px;
}

.u-section-2 .u-icon-13 {
  width: 25px;
  height: 25px;
  background-image: none;
  margin: -27px auto 0 28px;
  padding: 2px;
}

.u-section-2 .u-text-10 {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  width: 197px;
  margin: 17px auto 0;
}

.u-section-2 .u-text-11 {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.47;
  margin: 17px 20px 0 25px;
}

.u-section-2 .u-icon-14 {
  width: 15px;
  height: 15px;
  margin: 0 auto 0 55px;
  padding: 15px;
}

.u-section-2 .u-list-6 {
  width: 541px;
  margin: -228px auto 0 0;
}

.u-section-2 .u-repeater-6 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 228px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  --radius: 15px;
}

.u-section-2 .u-container-layout-6 {
  padding: 6px 0 6px 4px;
}

.u-section-2 .u-icon-15 {
  width: 30px;
  height: 30px;
  background-image: none;
  margin: 26px auto 0 22px;
  padding: 15px;
}

.u-section-2 .u-icon-16 {
  width: 25px;
  height: 23px;
  background-image: none;
  margin: -27px auto 0 24px;
  padding: 2px;
}

.u-section-2 .u-text-12 {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  margin: 16px 375px 0 22px;
}

.u-section-2 .u-text-13 {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.47;
  margin: 15px 276px 0 21px;
}

.u-section-2 .u-image-2 {
  width: 197px;
  height: 194px;
  margin: -174px 19px 0 auto;
}

.u-section-2 .u-icon-17 {
  width: 15px;
  height: 15px;
  margin: -20px auto 0 52px;
  padding: 15px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 654px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 74px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 135px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-4 {
    margin-right: 101px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-6 {
    margin-right: 101px;
  }

  .u-section-2 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-8 {
    margin-right: 101px;
  }

  .u-section-2 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-10 {
    margin-right: 101px;
  }

  .u-section-2 .u-repeater-6 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-icon-15 {
    margin-top: -21px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 59px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 16px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: 78px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 42px;
    margin-left: 52px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 232px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 17px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 50px;
    margin-left: 52px;
  }

  .u-section-2 .u-list-3 {
    margin-top: -514px;
    margin-right: 96px;
  }

  .u-section-2 .u-list-5 {
    margin-top: 54px;
    margin-right: 96px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-2 .u-text-11 {
    margin-top: 23px;
  }

  .u-section-2 .u-repeater-6 {
    min-height: 411px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-15 {
    margin-top: 23px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-right: 284px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -170px;
  }

  .u-section-2 .u-icon-17 {
    margin-top: 170px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    min-height: 236px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 243px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 27px;
    margin-left: 23px;
  }

  .u-section-2 .u-list-6 {
    width: 540px;
  }

  .u-section-2 .u-icon-16 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 283px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -174px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1944px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-2 .u-list-2 {
    margin-top: 78px;
    margin-left: auto;
  }

  .u-section-2 .u-list-3 {
    margin-top: 73px;
    margin-right: auto;
  }

  .u-section-2 .u-list-4 {
    margin-top: 394px;
    margin-right: auto;
  }

  .u-section-2 .u-list-5 {
    margin-top: -809px;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-5 {
    min-height: 243px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 101px;
  }

  .u-section-2 .u-list-6 {
    width: 340px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-icon-15 {
    margin-top: 0;
  }

  .u-section-2 .u-icon-16 {
    margin-top: -27px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 38px;
    margin-right: 101px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 16px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1032px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 34px auto 0 294px;
}

.u-section-3 .u-text-2 {
  font-family: Inter;
  font-weight: 300;
  font-size: 0.875rem;
  width: 435px;
  margin: 11px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 17px;
  margin-bottom: 34px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 796px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  object-position: 50% 0%;
  height: 617px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 34px 709px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 15px 421px 0 11px;
}

.u-section-3 .u-list-item-2 {
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  object-position: 50% 0%;
  height: 617px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 34px 709px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 15px 421px 0 11px;
}

.u-section-3 .u-list-item-3 {
  background-position: 39.13% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  object-position: 39.13% 50%;
  height: 617px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 34px 709px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 15px 421px 0 11px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 617px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 34px 709px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 15px 421px 0 11px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 617px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 34px 709px 0 0;
}

.u-section-3 .u-text-12 {
  margin: 15px 421px 0 11px;
}

.u-section-3 .u-list-item-6 {
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  object-position: 50% 0%;
  height: 617px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  margin: 34px 709px 0 0;
}

.u-section-3 .u-text-14 {
  margin: 15px 421px 0 11px;
}

.u-section-3 .u-list-item-7 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  height: 617px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  margin: 34px 709px 0 0;
}

.u-section-3 .u-text-16 {
  margin: 15px 421px 0 11px;
}

.u-section-3 .u-list-item-8 {
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  height: 617px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  margin: 34px 709px 0 0;
}

.u-section-3 .u-text-18 {
  margin: 15px 421px 0 11px;
}

.u-section-3 .u-list-item-9 {
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-image-9 {
  height: 617px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-19 {
  font-weight: 700;
  margin: 34px 709px 0 0;
}

.u-section-3 .u-text-20 {
  margin: 15px 421px 0 11px;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-image-10 {
  height: 617px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-21 {
  font-weight: 700;
  margin: 34px 709px 0 0;
}

.u-section-3 .u-text-22 {
  margin: 15px 421px 0 11px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 429px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 429px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    min-height: 901px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    inset: auto;
    height: 495px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    inset: auto;
    height: 495px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    inset: auto;
    height: 495px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    inset: auto;
    height: 495px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    inset: auto;
    height: 495px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    inset: auto;
    height: 495px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-3 .u-image-7 {
    inset: auto;
    height: 495px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-3 .u-image-8 {
    inset: auto;
    height: 495px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-3 .u-image-9 {
    inset: auto;
    height: 495px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 232px;
    margin-left: 0;
  }

  .u-section-3 .u-image-10 {
    inset: auto;
    height: 495px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 232px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 225px;
  }

  .u-section-3 .u-list-1 {
    min-height: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 607px;
  }

  .u-section-3 .u-image-1 {
    height: 371px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 289px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 12px;
  }

  .u-section-3 .u-image-2 {
    height: 371px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 289px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 12px;
  }

  .u-section-3 .u-image-3 {
    height: 371px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 289px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 12px;
  }

  .u-section-3 .u-image-4 {
    height: 371px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 289px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 12px;
  }

  .u-section-3 .u-image-5 {
    height: 371px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 289px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 12px;
  }

  .u-section-3 .u-image-6 {
    height: 371px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 289px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 12px;
  }

  .u-section-3 .u-image-7 {
    height: 371px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 289px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 12px;
  }

  .u-section-3 .u-image-8 {
    height: 371px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 289px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 12px;
  }

  .u-section-3 .u-image-9 {
    height: 371px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 289px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 12px;
  }

  .u-section-3 .u-image-10 {
    height: 371px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 289px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 169px;
  }

  .u-section-3 .u-list-1 {
    min-height: 901px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 292px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 149px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 292px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 149px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 292px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 149px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 292px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 149px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 292px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 149px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 292px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 149px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 292px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 149px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    height: 292px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 149px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-9 {
    height: 292px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 149px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-10 {
    height: 292px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 149px;
  }

  .u-section-3 .u-text-22 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    min-height: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 372px;
  }

  .u-section-3 .u-image-1 {
    height: 180px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 180px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 180px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    height: 180px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    height: 180px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    height: 180px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    height: 180px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-15 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-image-8 {
    height: 180px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-17 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-image-9 {
    height: 180px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-19 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-image-10 {
    height: 180px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-21 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-nav-1 {
    left: 0;
    top: 107px;
  }

  .u-section-3 .u-gallery-nav-2 {
    top: 107px;
    right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 690px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 18px auto 0 39px;
}

.u-section-4 .u-group-1 {
  width: 484px;
  --radius: 50px;
  height: auto;
  min-height: 534px;
  margin: -96px 49px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-4 .u-text-3 {
  font-family: Inter;
  margin: 19px 0 0;
}

.u-section-4 .u-group-elements-1 {
  width: 168px;
  min-height: 25px;
  margin: 32px auto 0 1px;
}

.u-section-4 .u-icon-1 {
  width: 25px;
  height: 25px;
  margin: 0 142px 0 0;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -23px 0 0 auto;
}

.u-section-4 .u-group-elements-2 {
  width: 188px;
  min-height: 25px;
  height: auto;
  margin: -25px auto 0 223px;
}

.u-section-4 .u-icon-2 {
  width: 25px;
  height: 25px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-4 .u-group-elements-3 {
  width: 180px;
  min-height: 25px;
  height: auto;
  margin: 28px auto 0 1px;
}

.u-section-4 .u-icon-3 {
  width: 25px;
  height: 25px;
  margin: 0 154px 0 0;
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-4 .u-group-elements-4 {
  width: 156px;
  min-height: 25px;
  height: auto;
  margin: -26px 47px 0 auto;
}

.u-section-4 .u-icon-4 {
  width: 25px;
  height: 25px;
  margin: 0 130px 0 0;
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-4 .u-group-elements-5 {
  width: 125px;
  min-height: 25px;
  height: auto;
  margin: 28px auto 0 1px;
}

.u-section-4 .u-icon-5 {
  width: 25px;
  height: 25px;
  margin: 0 100px 0 0;
  padding: 0;
}

.u-section-4 .u-text-8 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-4 .u-group-elements-6 {
  width: 91px;
  min-height: 25px;
  height: auto;
  margin: -25px 112px 0 auto;
}

.u-section-4 .u-icon-6 {
  width: 25px;
  height: 25px;
  margin: 0 65px 0 0;
  padding: 0;
}

.u-section-4 .u-text-9 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-4 .u-group-2 {
  height: auto;
  --radius: 25px;
  width: 424px;
  min-height: 113px;
  margin: 56px 1px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 3rem;
}

.u-section-4 .u-text-11 {
  font-family: Inter;
  font-weight: 300;
  font-size: 0.875rem;
  margin: -440px 817px 0 39px;
}

.u-section-4 .u-group-3 {
  width: 484px;
  --radius: 25px;
  height: auto;
  min-height: 300px;
  margin: 39px auto 60px 39px;
}

.u-section-4 .u-container-layout-3 {
  padding: 18px 29px;
}

.u-section-4 .u-text-12 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-weight: 600;
  font-size: 1.25rem;
  --radius: 10px;
  margin: 20px auto 0;
  padding: 22px 108px 23px 107px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 550px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-11 {
    margin-right: 656px;
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -135px;
    margin-left: 218px;
  }

  .u-section-4 .u-group-1 {
    min-height: 535px;
    margin-top: 39px;
    margin-right: auto;
  }

  .u-section-4 .u-text-11 {
    width: 284px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-3 {
    margin-top: 56px;
    margin-left: auto;
  }

  .u-section-4 .u-text-12 {
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: -150px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 54px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 48px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 35px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 86px;
  }

  .u-section-4 .u-group-1 {
    min-height: 686px;
    margin-top: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-group-elements-1 {
    height: auto;
    margin-top: 33px;
    margin-left: 60px;
  }

  .u-section-4 .u-group-elements-2 {
    width: 185px;
    margin-top: 26px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-group-elements-3 {
    margin-top: 24px;
    margin-left: 60px;
  }

  .u-section-4 .u-group-elements-4 {
    width: 153px;
    margin-top: 23px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-4 .u-icon-4 {
    margin-right: 127px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-group-elements-5 {
    margin-top: 26px;
    margin-left: 60px;
  }

  .u-section-4 .u-group-elements-6 {
    margin-top: 26px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-4 .u-group-2 {
    --radius: 15px;
    min-height: 96px;
    width: 285px;
    margin: 33px auto -4px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin: 77px 28px 57px;
  }

  .u-section-4 .u-group-3 {
    min-height: 364px;
    margin-top: 183px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-4 .u-text-12 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: -3px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -377px;
    margin-left: -9px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 895px;
}

.u-section-5 .u-image-1 {
  width: 618px;
  height: 806px;
  margin: 107px auto 0 0;
}

.u-section-5 .u-accordion-1 {
  width: 738px;
  margin: -783px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-5 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-5 .u-accordion-link-1 {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: normal;
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 19px;
  width: 19px;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 142px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-family: Inter;
  font-weight: 500;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-5 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-5 .u-accordion-link-2 {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: normal;
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 19px;
  width: 19px;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 142px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  line-height: 1.6;
  margin: 0;
}

.u-section-5 .u-accordion-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-5 .u-accordion-link-3 {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: normal;
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 19px;
  width: 19px;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 142px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-accordion-item-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-4 {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: normal;
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 19px;
  width: 19px;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 142px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin: 0;
}

.u-section-5 .u-accordion-item-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-5 .u-accordion-link-5 {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: normal;
  padding: 30px;
}

.u-section-5 .u-icon-5 {
  height: 19px;
  width: 19px;
}

.u-section-5 .u-accordion-pane-5 {
  min-height: 142px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -421px auto 229px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-5 .u-accordion-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-icon-1 {
    padding: 10px;
  }

  .u-section-5 .u-icon-2 {
    padding: 10px;
  }

  .u-section-5 .u-icon-3 {
    padding: 10px;
  }

  .u-section-5 .u-icon-4 {
    padding: 10px;
  }

  .u-section-5 .u-text-6 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 913px;
  }

  .u-section-5 .u-accordion-1 {
    width: 720px;
    margin-top: -838px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -1115px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 820px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 704px;
  }

  .u-section-5 .u-accordion-1 {
    width: 540px;
    margin-top: -736px;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -933px;
    margin-left: calc(((100% - 540px) / 2)  + -734px);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 932px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 443px;
  }

  .u-section-5 .u-accordion-1 {
    width: 340px;
    margin-top: -475px;
  }

  .u-section-5 .u-accordion-link-1 {
    letter-spacing: 0px;
  }

  .u-section-5 .u-accordion-link-2 {
    letter-spacing: 0px;
  }

  .u-section-5 .u-accordion-link-3 {
    letter-spacing: 0px;
  }

  .u-section-5 .u-accordion-link-4 {
    letter-spacing: 0px;
  }

  .u-section-5 .u-accordion-link-5 {
    letter-spacing: 0px;
  }

  .u-section-5 .u-text-6 {
    margin-left: calc(((100% - 340px) / 2)  + -734px);
  }
} .u-section-6 {
  background-image: none;
  min-height: 1460px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 82px auto 0 calc(((100% - 1140px) / 2)  + 367px);
}

.u-section-6 .u-image-1 {
  width: 596px;
  height: 556px;
  margin: 160px auto 0 0;
}

.u-section-6 .u-image-2 {
  height: 961px;
  margin-top: -395px;
  margin-bottom: 0;
}

.u-section-6 .u-form-1 {
  height: 633px;
  width: 983px;
  margin: -1228px auto 0;
}

.u-section-6 .u-label-1 {
  font-family: Inter;
}

.u-section-6 .u-input-1 {
  --radius: 6px;
  font-family: Inter;
  font-size: 1.125rem;
}

.u-section-6 .u-label-2 {
  font-family: Inter;
}

.u-section-6 .u-input-2 {
  --radius: 6px;
  font-family: Inter;
  font-size: 1.125rem;
}

.u-section-6 .u-label-3 {
  font-family: Inter;
}

.u-section-6 .u-input-3 {
  --radius: 6px;
  font-family: Inter;
  font-size: 1.125rem;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  width: 100%;
  --radius: 14px;
  font-weight: 700;
  text-transform: none;
  padding: 19px 0;
}

.u-section-6 .u-group-1 {
  width: 1047px;
  --radius: 49px;
  height: auto;
  min-height: 378px;
  margin: 110px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 89px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.5rem;
  margin: -64px 823px 0 82px;
}

.u-section-6 .u-text-3 {
  font-family: Inter;
  margin: 9px 143px 0 794px;
}

.u-section-6 .u-text-4 {
  font-family: Inter;
  font-weight: 300;
  font-size: 0.875rem;
  margin: 20px 646px 0 0;
}

.u-section-6 .u-text-5 {
  font-family: Inter;
  margin: -66px 128px 0 778px;
}

.u-section-6 .u-text-6 {
  font-family: Inter;
  margin: 21px 89px 0 739px;
}

.u-section-6 .u-text-7 {
  font-family: Inter;
  margin: 25px 99px 0 749px;
}

.u-section-6 .u-icon-1 {
  width: 24px;
  height: 24px;
  margin: -22px auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-8 {
  font-family: Inter;
  font-weight: 300;
  font-size: 0.875rem;
  margin: -24px 535px 0 35px;
}

.u-section-6 .u-image-4 {
  width: 295px;
  height: 285px;
  margin: -1352px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2)  + 303px);
  }

  .u-section-6 .u-form-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: 734px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 90px;
    margin-left: 740px;
    width: 50px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 539px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 74px;
    margin-left: 725px;
    width: 81px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 35px;
    margin-left: 686px;
    width: 159px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 45px;
    margin-left: 696px;
    width: 139px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
    margin-right: 463px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-6 .u-form-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-group-1 {
    width: 720px;
    margin-left: auto;
  }

  .u-section-6 .u-image-3 {
    width: 110px;
    height: 110px;
    margin-top: 22px;
    margin-left: 265px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 610px;
  }

  .u-section-6 .u-text-4 {
    width: 341px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: -67px;
    margin-right: 0;
    margin-left: 579px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 23px;
    margin-right: 0;
    margin-left: 501px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 521px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 20px;
    margin-left: 77px;
  }

  .u-section-6 .u-text-8 {
    width: 417px;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-image-4 {
    width: 219px;
    height: 167px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1441px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 63px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 504px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -343px;
  }

  .u-section-6 .u-form-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-group-1 {
    width: 540px;
    margin-top: 25px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 470px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 439px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 361px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 381px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 51px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 29px;
    margin-right: 42px;
    margin-left: 61px;
  }

  .u-section-6 .u-image-4 {
    margin-top: -1263px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1375px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 317px;
  }

  .u-section-6 .u-image-2 {
    height: 931px;
    margin-top: -156px;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    min-height: 434px;
    margin-top: 91px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: -13px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -13px;
    margin-left: 270px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-top: -64px;
    margin-left: 239px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 161px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 181px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    margin-top: -1329px;
    margin-right: calc(((100% - 340px) / 2)  + -49px);
  }
}