 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 1163px;
  height: 1053px;
  margin: 1116px auto 0 calc(((100% - 1140px) / 2)  + -68px);
}

.u-section-1 .u-image-2 {
  width: 1239px;
  height: 998px;
  margin: -2169px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -872px 1038px 0 calc(((100% - 1140px) / 2)  + 29px);
}

.u-section-1 .u-group-1 {
  width: 484px;
  --radius: 50px;
  height: auto;
  min-height: 548px;
  margin: -96px calc(((100% - 1140px) / 2)  + 59px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-3 {
  font-family: Inter;
  margin: 19px 0 0;
}

.u-section-1 .u-group-elements-1 {
  width: 168px;
  min-height: 25px;
  margin: 32px auto 0 1px;
}

.u-section-1 .u-icon-1 {
  width: 25px;
  height: 25px;
  margin: 0 142px 0 0;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -23px 0 0 auto;
}

.u-section-1 .u-group-elements-2 {
  width: 188px;
  min-height: 25px;
  height: auto;
  margin: -25px auto 0 223px;
}

.u-section-1 .u-icon-2 {
  width: 25px;
  height: 25px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-3 {
  width: 180px;
  min-height: 25px;
  height: auto;
  margin: 28px auto 0 1px;
}

.u-section-1 .u-icon-3 {
  width: 25px;
  height: 25px;
  margin: 0 154px 0 0;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-4 {
  width: 156px;
  min-height: 25px;
  height: auto;
  margin: -26px 47px 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 25px;
  height: 25px;
  margin: 0 130px 0 0;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-5 {
  width: 125px;
  min-height: 25px;
  height: auto;
  margin: 28px auto 0 1px;
}

.u-section-1 .u-icon-5 {
  width: 25px;
  height: 25px;
  margin: 0 100px 0 0;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-6 {
  width: 91px;
  min-height: 25px;
  height: auto;
  margin: -25px 112px 0 auto;
}

.u-section-1 .u-icon-6 {
  width: 25px;
  height: 25px;
  margin: 0 65px 0 0;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-2 {
  height: auto;
  --radius: 25px;
  width: 424px;
  min-height: 126px;
  margin: 56px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 105px 0 0;
}

.u-section-1 .u-text-11 {
  font-family: Inter;
  font-weight: 300;
  font-size: 0.875rem;
  margin: -436px calc(((100% - 1140px) / 2)  + 827px) 0 calc(((100% - 1140px) / 2)  + 29px);
}

.u-section-1 .u-group-3 {
  width: 484px;
  --radius: 25px;
  height: auto;
  min-height: 300px;
  margin: 36px auto 0 calc(((100% - 1140px) / 2)  + 29px);
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 28px;
}

.u-section-1 .u-text-12 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 1px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-weight: 600;
  font-size: 1.25rem;
  --radius: 10px;
  margin: 20px auto 0;
  padding: 22px 162px 23px;
}

.u-section-1 .u-group-4 {
  width: 484px;
  --radius: 50px;
  height: auto;
  min-height: 548px;
  margin: 148px calc(((100% - 1140px) / 2)  + 50px) 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-14 {
  font-family: Inter;
  margin: 19px 0 0;
}

.u-section-1 .u-group-elements-7 {
  width: 168px;
  min-height: 25px;
  margin: 32px auto 0 1px;
}

.u-section-1 .u-icon-7 {
  width: 25px;
  height: 25px;
  margin: 0 142px 0 0;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -23px 0 0 auto;
}

.u-section-1 .u-group-elements-8 {
  width: 188px;
  min-height: 25px;
  height: auto;
  margin: -25px auto 0 223px;
}

.u-section-1 .u-icon-8 {
  width: 25px;
  height: 25px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-16 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-9 {
  width: 180px;
  min-height: 25px;
  height: auto;
  margin: 28px auto 0 1px;
}

.u-section-1 .u-icon-9 {
  width: 25px;
  height: 25px;
  margin: 0 154px 0 0;
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-10 {
  width: 156px;
  min-height: 25px;
  height: auto;
  margin: -26px 47px 0 auto;
}

.u-section-1 .u-icon-10 {
  width: 25px;
  height: 25px;
  margin: 0 130px 0 0;
  padding: 0;
}

.u-section-1 .u-text-18 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-11 {
  width: 125px;
  min-height: 25px;
  height: auto;
  margin: 28px auto 0 1px;
}

.u-section-1 .u-icon-11 {
  width: 25px;
  height: 25px;
  margin: 0 100px 0 0;
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-12 {
  width: 91px;
  min-height: 25px;
  height: auto;
  margin: -25px 112px 0 auto;
}

.u-section-1 .u-icon-12 {
  width: 25px;
  height: 25px;
  margin: 0 65px 0 0;
  padding: 0;
}

.u-section-1 .u-text-20 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-5 {
  height: auto;
  --radius: 25px;
  width: 424px;
  min-height: 126px;
  margin: 56px 1px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-22 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -548px calc(((100% - 1140px) / 2)  + 903px) 0 calc(((100% - 1140px) / 2)  + 29px);
}

.u-section-1 .u-text-23 {
  font-family: Inter;
  font-weight: 300;
  font-size: 0.875rem;
  margin: 15px calc(((100% - 1140px) / 2)  + 827px) 0 calc(((100% - 1140px) / 2)  + 29px);
}

.u-section-1 .u-group-6 {
  width: 484px;
  --radius: 25px;
  height: auto;
  min-height: 300px;
  margin: 27px auto 0 calc(((100% - 1140px) / 2)  + 29px);
}

.u-section-1 .u-container-layout-6 {
  padding: 18px 27px;
}

.u-section-1 .u-text-24 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 2px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  background-image: none;
  font-weight: 600;
  font-size: 1.25rem;
  --radius: 10px;
  margin: 20px auto 0;
  padding: 22px 164px 23px 162px;
}

.u-section-1 .u-text-25 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 153px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-7 {
  width: 484px;
  --radius: 50px;
  height: auto;
  min-height: 548px;
  margin: -96px calc(((100% - 1140px) / 2)  + 50px) 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 29px;
}

.u-section-1 .u-text-26 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-27 {
  font-family: Inter;
  margin: 13px 0 0;
}

.u-section-1 .u-group-elements-13 {
  width: 168px;
  min-height: 25px;
  margin: 38px auto 0 1px;
}

.u-section-1 .u-icon-13 {
  width: 25px;
  height: 25px;
  margin: 0 142px 0 0;
  padding: 0;
}

.u-section-1 .u-text-28 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -23px 0 0 auto;
}

.u-section-1 .u-group-elements-14 {
  width: 188px;
  min-height: 25px;
  height: auto;
  margin: -25px auto 0 223px;
}

.u-section-1 .u-icon-14 {
  width: 25px;
  height: 25px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-29 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px auto 0 43px;
}

.u-section-1 .u-group-elements-15 {
  width: 180px;
  min-height: 25px;
  height: auto;
  margin: 28px auto 0 1px;
}

.u-section-1 .u-icon-15 {
  width: 25px;
  height: 25px;
  margin: 0 154px 0 0;
  padding: 0;
}

.u-section-1 .u-text-30 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-16 {
  width: 156px;
  min-height: 25px;
  height: auto;
  margin: -26px 47px 0 auto;
}

.u-section-1 .u-icon-16 {
  width: 25px;
  height: 25px;
  margin: 0 130px 0 0;
  padding: 0;
}

.u-section-1 .u-text-31 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-17 {
  width: 125px;
  min-height: 25px;
  height: auto;
  margin: 28px auto 0 1px;
}

.u-section-1 .u-icon-17 {
  width: 25px;
  height: 25px;
  margin: 0 100px 0 0;
  padding: 0;
}

.u-section-1 .u-text-32 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-18 {
  width: 91px;
  min-height: 25px;
  height: auto;
  margin: -25px 112px 0 auto;
}

.u-section-1 .u-icon-18 {
  width: 25px;
  height: 25px;
  margin: 0 65px 0 0;
  padding: 0;
}

.u-section-1 .u-text-33 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-8 {
  height: auto;
  --radius: 25px;
  width: 424px;
  min-height: 126px;
  margin: 56px 1px 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-34 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 3rem;
}

.u-section-1 .u-text-35 {
  font-family: Inter;
  font-weight: 300;
  font-size: 0.875rem;
  margin: -432px calc(((100% - 1140px) / 2)  + 856px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-9 {
  width: 484px;
  --radius: 25px;
  height: auto;
  min-height: 300px;
  margin: 42px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-9 {
  padding: 18px 28px;
}

.u-section-1 .u-text-36 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 1px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  background-image: none;
  font-weight: 600;
  font-size: 1.25rem;
  --radius: 10px;
  margin: 20px auto 0;
  padding: 22px 162px 23px;
}

.u-section-1 .u-text-37 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 139px calc(((100% - 1140px) / 2)  + 864px) 0 calc(((100% - 1140px) / 2)  + 28px);
}

.u-section-1 .u-group-10 {
  width: 484px;
  --radius: 50px;
  height: auto;
  min-height: 548px;
  margin: -96px calc(((100% - 1140px) / 2)  + 50px) 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 29px;
}

.u-section-1 .u-text-38 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-39 {
  font-family: Inter;
  margin: 19px 0 0;
}

.u-section-1 .u-group-elements-19 {
  width: 168px;
  min-height: 25px;
  margin: 32px auto 0 1px;
}

.u-section-1 .u-icon-19 {
  width: 25px;
  height: 25px;
  margin: 0 142px 0 0;
  padding: 0;
}

.u-section-1 .u-text-40 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -23px 0 0 auto;
}

.u-section-1 .u-group-elements-20 {
  width: 188px;
  min-height: 25px;
  height: auto;
  margin: -25px auto 0 223px;
}

.u-section-1 .u-icon-20 {
  width: 25px;
  height: 25px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-41 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-21 {
  width: 180px;
  min-height: 25px;
  height: auto;
  margin: 28px auto 0 1px;
}

.u-section-1 .u-icon-21 {
  width: 25px;
  height: 25px;
  margin: 0 154px 0 0;
  padding: 0;
}

.u-section-1 .u-text-42 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-22 {
  width: 156px;
  min-height: 25px;
  height: auto;
  margin: -26px 47px 0 auto;
}

.u-section-1 .u-icon-22 {
  width: 25px;
  height: 25px;
  margin: 0 130px 0 0;
  padding: 0;
}

.u-section-1 .u-text-43 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-23 {
  width: 125px;
  min-height: 25px;
  height: auto;
  margin: 28px auto 0 1px;
}

.u-section-1 .u-icon-23 {
  width: 25px;
  height: 25px;
  margin: 0 100px 0 0;
  padding: 0;
}

.u-section-1 .u-text-44 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-elements-24 {
  width: 91px;
  min-height: 25px;
  height: auto;
  margin: -25px 112px 0 auto;
}

.u-section-1 .u-icon-24 {
  width: 25px;
  height: 25px;
  margin: 0 65px 0 0;
  padding: 0;
}

.u-section-1 .u-text-45 {
  font-family: Inter;
  font-size: 0.875rem;
  margin: -25px 0 0 auto;
}

.u-section-1 .u-group-11 {
  height: auto;
  --radius: 25px;
  width: 424px;
  min-height: 113px;
  margin: 56px 1px 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-46 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 3rem;
}

.u-section-1 .u-text-47 {
  font-family: Inter;
  font-weight: 300;
  font-size: 0.875rem;
  margin: -431px calc(((100% - 1140px) / 2)  + 827px) 0 calc(((100% - 1140px) / 2)  + 29px);
}

.u-section-1 .u-group-12 {
  width: 484px;
  --radius: 25px;
  height: auto;
  min-height: 300px;
  margin: 28px auto 0 calc(((100% - 1140px) / 2)  + 19px);
}

.u-section-1 .u-container-layout-12 {
  padding: 18px 28px;
}

.u-section-1 .u-text-48 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 1px;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  background-image: none;
  font-weight: 600;
  font-size: 1.25rem;
  --radius: 10px;
  margin: 20px auto 0;
  padding: 22px 162px 23px;
}

.u-section-1 .u-line-1 {
  margin-top: 177px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-1 .u-image-3 {
  height: 974px;
  margin-top: -266px;
  margin-bottom: 0;
}

.u-section-1 .u-group-13 {
  width: 1047px;
  --radius: 49px;
  height: auto;
  min-height: 378px;
  margin: -559px auto 60px calc(((100% - 1140px) / 2)  + 28px);
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 89px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-49 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.5rem;
  margin: -64px 823px 0 82px;
}

.u-section-1 .u-text-50 {
  font-family: Inter;
  margin: 9px 143px 0 794px;
}

.u-section-1 .u-text-51 {
  font-family: Inter;
  font-weight: 300;
  font-size: 0.875rem;
  margin: 20px 646px 0 0;
}

.u-section-1 .u-text-52 {
  font-family: Inter;
  margin: -66px 128px 0 778px;
}

.u-section-1 .u-text-53 {
  font-family: Inter;
  margin: 21px 89px 0 739px;
}

.u-section-1 .u-text-54 {
  font-family: Inter;
  margin: 25px 99px 0 749px;
}

.u-section-1 .u-icon-25 {
  width: 24px;
  height: 24px;
  margin: -22px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-55 {
  font-family: Inter;
  font-weight: 300;
  font-size: 0.875rem;
  margin: -24px 535px 0 35px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1rem;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1rem;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1rem;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 940px;
    height: 851px;
    margin-top: 1212px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-2 {
    inset: auto;
    width: 940px;
    height: 757px;
    margin-top: -2063px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -631px;
    margin-right: 856px;
    margin-left: calc(((100% - 940px) / 2)  + 29px);
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2)  + 59px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2)  + 656px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-right: calc(((100% - 940px) / 2) + 50px);
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-text-22 {
    margin-right: calc(((100% - 940px) / 2)  + 732px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 940px) / 2) + 656px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-6 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-text-25 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-7 {
    margin-right: calc(((100% - 940px) / 2)  + 50px);
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-text-35 {
    margin-right: calc(((100% - 940px) / 2)  + 656px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-9 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-text-37 {
    margin-right: calc(((100% - 940px) / 2) + 692px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-10 {
    margin-right: calc(((100% - 940px) / 2)  + 50px);
    height: auto;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }

  .u-section-1 .u-text-47 {
    margin-right: calc(((100% - 940px) / 2)  + 656px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-12 {
    margin-left: calc(((100% - 940px) / 2)  + 19px);
    height: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: -25px;
  }

  .u-section-1 .u-group-13 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-text-49 {
    margin-right: 734px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 90px;
    margin-left: 741px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 539px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 75px;
    margin-left: 725px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 36px;
    margin-left: 686px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 46px;
    margin-left: 696px;
  }

  .u-section-1 .u-text-55 {
    margin-top: 20px;
    margin-right: 463px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 3756px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 652px;
    margin-top: 1387px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    height: 952px;
    margin-top: -2039px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -457px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 28px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -786px;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: -115px;
    margin-right: calc(((100% - 720px) / 2)  + 436px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-3 {
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 230px;
    margin-right: auto;
  }

  .u-section-1 .u-text-22 {
    margin-right: calc(((100% - 720px) / 2)  + 512px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 720px) / 2)  + 436px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-25 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-7 {
    margin-top: 236px;
    margin-right: auto;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-top: -434px;
    margin-right: calc(((100% - 720px) / 2)  + 436px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-9 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-37 {
    margin-top: 141px;
    margin-right: calc(((100% - 720px) / 2)  + 472px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-10 {
    margin-top: 189px;
    margin-right: auto;
  }

  .u-section-1 .u-text-47 {
    margin-right: calc(((100% - 720px) / 2)  + 436px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-12 {
    margin-top: 26px;
    margin-left: calc(((100% - 720px) / 2)  + 19px);
  }

  .u-section-1 .u-line-1 {
    margin-top: 221px;
  }

  .u-section-1 .u-image-3 {
    height: 786px;
    margin-top: -265px;
  }

  .u-section-1 .u-group-13 {
    width: 720px;
    margin-top: -454px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    width: 134px;
    height: 134px;
    margin-right: 254px;
    margin-left: auto;
  }

  .u-section-1 .u-text-49 {
    margin-right: 551px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 0;
    margin-left: 611px;
  }

  .u-section-1 .u-text-51 {
    width: 466px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-52 {
    margin-right: 0;
    margin-left: 580px;
  }

  .u-section-1 .u-text-53 {
    margin-right: 0;
    margin-left: 502px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 0;
    margin-left: 522px;
  }

  .u-section-1 .u-icon-25 {
    margin-top: 44px;
    margin-left: 78px;
  }

  .u-section-1 .u-text-55 {
    width: 417px;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.25rem;
    --radius: 10px;
    margin: -2920px auto 0;
    padding: 22px 192px 23px 190px;
  }

  .u-section-1 .u-btn-6 {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.25rem;
    --radius: 10px;
    margin: 701px auto 0;
    padding: 22px 192px 23px 190px;
  }

  .u-section-1 .u-btn-7 {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.25rem;
    --radius: 10px;
    margin: 707px auto 0;
    padding: 22px 192px 23px 190px;
  }

  .u-section-1 .u-btn-8 {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.25rem;
    --radius: 10px;
    margin: 660px auto 60px;
    padding: 22px 192px 23px 190px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3701px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 489px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    height: 1402px;
    margin-top: -1885px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -312px;
    margin-left: calc(((100% - 540px) / 2)  + 29px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -1194px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 34px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 63px;
    margin-left: 33px;
  }

  .u-section-1 .u-group-elements-1 {
    height: auto;
    margin-left: 33px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-group-elements-3 {
    margin-left: 33px;
  }

  .u-section-1 .u-group-elements-4 {
    margin-top: -29px;
    margin-right: 62px;
  }

  .u-section-1 .u-group-elements-5 {
    margin-top: 24px;
    margin-left: 33px;
  }

  .u-section-1 .u-group-elements-6 {
    margin-right: 127px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    width: 299px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2)  + 256px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 243px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 16px;
    margin-right: 40px;
    margin-left: 33px;
  }

  .u-section-1 .u-group-elements-7 {
    height: auto;
    margin-top: 38px;
    margin-left: 33px;
  }

  .u-section-1 .u-group-elements-8 {
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-group-elements-9 {
    margin-top: 24px;
    margin-left: 33px;
  }

  .u-section-1 .u-icon-9 {
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-10 {
    margin-top: -25px;
  }

  .u-section-1 .u-group-elements-11 {
    margin-top: 22px;
    margin-left: 33px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-22 {
    margin-right: calc(((100% - 540px) / 2)  + 332px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 540px) / 2) + 256px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-6 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-25 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-7 {
    margin-top: 251px;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 38px 21px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-group-elements-13 {
    margin-left: 18px;
  }

  .u-section-1 .u-group-elements-14 {
    margin-left: 240px;
  }

  .u-section-1 .u-group-elements-15 {
    margin-top: 25px;
    margin-left: 17px;
  }

  .u-section-1 .u-group-elements-16 {
    margin-right: 46px;
  }

  .u-section-1 .u-group-elements-17 {
    margin-top: 25px;
    margin-left: 17px;
  }

  .u-section-1 .u-group-elements-18 {
    margin-right: 111px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 62px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-35 {
    margin-right: calc(((100% - 540px) / 2)  + 256px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-9 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-37 {
    margin-right: calc(((100% - 540px) / 2) + 292px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-10 {
    margin-top: 207px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-elements-20 {
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-46 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-47 {
    margin-right: calc(((100% - 540px) / 2)  + 256px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-12 {
    margin-left: calc(((100% - 540px) / 2)  + 19px);
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 151px;
  }

  .u-section-1 .u-image-3 {
    height: 641px;
    margin-top: -185px;
  }

  .u-section-1 .u-group-13 {
    width: 540px;
    margin-top: -418px;
    margin-right: calc(((100% - 540px) / 2)  + -15px);
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    width: 119px;
    height: 119px;
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-1 .u-text-49 {
    margin-right: 434px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 471px;
  }

  .u-section-1 .u-text-51 {
    width: 341px;
    margin-top: 13px;
  }

  .u-section-1 .u-text-52 {
    margin-left: 440px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 362px;
  }

  .u-section-1 .u-text-54 {
    margin-left: 382px;
  }

  .u-section-1 .u-text-55 {
    width: auto;
    margin-top: 46px;
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -521px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -2407px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 713px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 714px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 4713px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 308px;
    margin-top: 1339px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: -1647px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -151px;
    margin-left: calc(((100% - 340px) / 2) + 28px);
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 733px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    line-height: 1.5;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 164px;
    margin-top: 35px;
    margin-left: 25px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 138px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-group-elements-2 {
    width: 179px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-group-elements-3 {
    width: 176px;
    margin-left: 25px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-group-elements-4 {
    width: 145px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 119px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-group-elements-5 {
    width: 117px;
    margin-top: 28px;
    margin-left: 25px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 92px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-group-elements-6 {
    width: 79px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 53px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 62px;
    min-height: 96px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 340px) / 2)  + 56px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    min-height: 735px;
    margin-top: 242px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 35px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-7 {
    width: 165px;
    margin-left: 24px;
  }

  .u-section-1 .u-icon-7 {
    margin-right: 139px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
  }

  .u-section-1 .u-group-elements-8 {
    width: 177px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
  }

  .u-section-1 .u-group-elements-9 {
    width: 174px;
    margin-top: 28px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
  }

  .u-section-1 .u-group-elements-10 {
    width: 144px;
    margin-top: 134px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-icon-10 {
    margin-right: 118px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
  }

  .u-section-1 .u-group-elements-11 {
    width: 112px;
    margin-top: -131px;
    margin-left: 26px;
  }

  .u-section-1 .u-icon-11 {
    margin-right: 87px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
  }

  .u-section-1 .u-group-elements-12 {
    width: 78px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-icon-12 {
    margin-right: 52px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: 81px;
    min-height: 142px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.5rem;
    width: 198px;
  }

  .u-section-1 .u-text-22 {
    margin-right: calc(((100% - 340px) / 2)  + 132px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-23 {
    margin-right: calc(((100% - 340px) / 2) + 56px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-6 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-25 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-7 {
    width: 340px;
    min-height: 776px;
    margin-top: 242px;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 35px 0;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-group-elements-13 {
    width: 165px;
    height: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-icon-13 {
    margin-right: 139px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
  }

  .u-section-1 .u-group-elements-14 {
    width: 178px;
    margin-top: 27px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-elements-15 {
    width: 176px;
    margin-left: 60px;
  }

  .u-section-1 .u-icon-15 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-30 {
    width: auto;
  }

  .u-section-1 .u-group-elements-16 {
    width: 146px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-icon-16 {
    margin-right: 120px;
  }

  .u-section-1 .u-text-31 {
    width: auto;
  }

  .u-section-1 .u-group-elements-17 {
    width: 117px;
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-1 .u-icon-17 {
    margin-right: 92px;
  }

  .u-section-1 .u-text-32 {
    width: auto;
  }

  .u-section-1 .u-group-elements-18 {
    width: 80px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 54px;
  }

  .u-section-1 .u-text-33 {
    width: auto;
  }

  .u-section-1 .u-group-8 {
    min-height: 143px;
    width: 270px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-34 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-35 {
    margin-right: calc(((100% - 340px) / 2)  + 56px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-9 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-37 {
    margin-right: calc(((100% - 340px) / 2)  + 92px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-10 {
    width: 340px;
    min-height: 787px;
    margin-top: 241px;
  }

  .u-section-1 .u-container-layout-10 {
    padding: 35px 0;
  }

  .u-section-1 .u-text-38 {
    margin-left: 36px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-group-elements-19 {
    width: 164px;
    height: auto;
    margin-top: 35px;
    margin-left: 60px;
  }

  .u-section-1 .u-icon-19 {
    margin-right: 138px;
  }

  .u-section-1 .u-text-40 {
    width: auto;
  }

  .u-section-1 .u-group-elements-20 {
    width: 179px;
    margin-top: 25px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-41 {
    width: auto;
  }

  .u-section-1 .u-group-elements-21 {
    width: 176px;
    margin-top: 25px;
    margin-left: 60px;
  }

  .u-section-1 .u-icon-21 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-42 {
    width: auto;
  }

  .u-section-1 .u-group-elements-22 {
    width: 146px;
    margin-top: 125px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-icon-22 {
    margin-right: 120px;
  }

  .u-section-1 .u-text-43 {
    width: auto;
  }

  .u-section-1 .u-group-elements-23 {
    width: 104px;
    margin-top: -125px;
    margin-left: 60px;
  }

  .u-section-1 .u-icon-23 {
    margin-right: 79px;
  }

  .u-section-1 .u-text-44 {
    width: auto;
  }

  .u-section-1 .u-group-elements-24 {
    width: 80px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-icon-24 {
    margin-right: 54px;
  }

  .u-section-1 .u-text-45 {
    width: auto;
  }

  .u-section-1 .u-group-11 {
    min-height: 143px;
    width: 270px;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-46 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-47 {
    margin-right: calc(((100% - 340px) / 2)  + 56px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-12 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-line-1 {
    margin-top: 226px;
  }

  .u-section-1 .u-image-3 {
    height: 619px;
    margin-top: -71px;
  }

  .u-section-1 .u-group-13 {
    width: 340px;
    min-height: 460px;
    margin-top: -518px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-13 {
    padding: 35px;
  }

  .u-section-1 .u-text-49 {
    width: auto;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-50 {
    margin-left: 271px;
  }

  .u-section-1 .u-text-51 {
    width: auto;
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-52 {
    margin-left: 240px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-54 {
    margin-left: 182px;
  }

  .u-section-1 .u-text-55 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -668px;
    padding-right: 120px;
    padding-left: 118px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -3101px;
    padding-right: 119px;
    padding-left: 118px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 900px;
    padding-right: 120px;
    padding-left: 118px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 942px;
    padding-right: 119px;
    padding-left: 118px;
  }
}